extends ../layout
block vars
	- var logged_in = true
	- var role = user_role

block content
	.main.container
		.row
			.col-md-6.col-md-offset-3.mx-auto.text-center.jumbotron.bkg-white06.py-3
				h3.display-4.m-b-2 #{title}
				
				form(method='post', action='/users/user/#{user._id}/edit', enctype='application/x-www-form-urlencoded')
					if errors
						- each error, i in errors
							p.alert.alert-danger= error.msg
					div.form-group
						label(for='name') Ime:
						input#name.form-control(type='text', placeholder='Ime i prezime' name='name' value=user.name)
					div.form-group
						label(for='email') Email:
						input#email.form-control(type='email', placeholder='name@domain.com' name='email' value=user.email)
					label Spol:
					div.form-group
						input#m.mx-3(type='radio', name='spol' value='M' checked= user.spol!=null ?  user.spol=="M" : false ) 
						| Muško
						input#f.mx-3(type='radio', name='spol' value='F' checked= user.spol!=null ?  user.spol=="F" : false ) 
						| Žensko
					div.form-group
						label(for='dob') Dob:
						input#email.form-control(type='number', name='dob' value=user.dob != null ? user.dob : "")
					div(hidden).form-group
						label(for='pw') Lozinka:
						input#pw.form-control(type='password' name='password')
					div(hidden).form-group
						label(for='pw2') Potvrdi lozinku:
						input#pw2.form-control(type='password' name='confirmPassword')
					input(type='hidden' value='PUT' name='_method')
					button.btn.btn-success(type='submit') Spremi