extends ../layout
block vars
	- var logged_in = true
	- var role = user_role

block content
	.main.container
		.row
			.col-md-6.col-md-offset-3.mx-auto.text-center.jumbotron.bkg-white06.py-3
				h3.display-4.m-b-2 #{title}	
				form
					div.form-group
						label(for='name') Ime:
						input#name.form-control(type='text', name='name' value=user.name readonly)
					div.form-group
						label(for='email') Email:
						input#email.form-control(type='email', name='email' value=user.email readonly)
					label Spol:
					div.form-group
						input#m.mx-3(type='radio', name='spol' value='M' disabled checked= user.spol!=null ?  user.spol=="M" : false )  
						| Muško
						input#f.mx-3(type='radio', name='spol' value='F' disabled checked= user.spol!=null ?  user.spol=="F" : false ) 
						| Žensko
					div.form-group
						label(for='dob') Dob:
						input#email.form-control(type='number', name='dob' disabled value=user.dob != null ? user.dob : "")
					a(href='/users/user/#{user._id}/edit').button.btn.btn-success.d-block.w-25.mx-auto Uredi